
:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 30px 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: #fff;
    color: #030202;
    padding: 8px 20px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 30px;
  }
  
  .btn--large {
    padding: 40px 50px;
    font-size: 30px;
  }

  .btn--small {
    padding: 5px 250px;
    font-size: 25px;
    background : #ff95a5ac;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #b9c7ff;
    color: #000000;
    transition: 250ms;
  }